.wrapper {
 width: 99 vw;
}

.rectangle {
    margin: auto;
    padding-top: 7%;
    width: 600px;
    height: 500px;
    background-color: hsl(170, 50%, 50%, 1);
}

.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 0 auto; 
     /* Explicitly state the angle of the start color */
    background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
}
